* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

main {
  background-color: #000000;
  height: 100vh;
}

#buttons-bar {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
}
