div#logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#logo img {
  width: 250px;
}
img#home {
  width: 50px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
img#favoris {
  width: 70px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
img#logout {
  width: 60px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
#logout:hover {
  transform: scale(1.1);
}
#favoris:hover {
  transform: scale(1.1);
}
#home:hover {
  transform: scale(1.1);
}
#nav {
  border: 2px solid, #fcf9db;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

a {
  padding-right: 0px;
}
@media screen and (min-width: 1280px) {
  img#home {
    width: 100px;
  }
  img#favoris {
    width: 140px;
  }
  img#logout {
    width: 120px;
  }
  #logo img {
    width: 500px;
  }
  #nav {
    margin-left: 450px;
    margin-right: 450px;
  }
}
