p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #fcf9db;
  padding: 0.5em;
  position: relative;
  border: 1px #fcf9db, solid;
  box-shadow: -3px 0px 0px #fcf9db;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
h1 {
  position: static;
  color: #fcf9db;
}
#game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#game-info img {
  border-radius: 2em;
  width: 300px;
}

#remove-button {
  /* background-color: black;
  border: none; */
  background-color: transparent;
  border: none;
  padding-top: 30px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
#remove-button:hover {
  transform: scale(1.1);
}
#remove-button img {
  width: 90px;
  height: auto;
}

/* Desktop  */
@media screen and (min-width: 1200px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-game {
    width: 35em;
    margin: 1em;
  }
  #game-info img {
    width: 450px;
  }
  #remove-button img {
    width: 140px;
    height: auto;
  }
  p {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
